In [74]:
import pandas as pd

In [56]:
startup_df = pd.read_csv("startup_data.csv")
display(startup_df.head(10))

,state_code,latitude,longitude,founded_at,age_first_funding_year,age_last_funding_year,funding_rounds,funding_total_usd,category_code,has_VC,has_angel,has_seriesA,has_seriesB,has_seriesC,has_seriesD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,1/1/2007,2.2493,3.0027,3.0,375000,music,No,Yes,No,No,No,No,1.0000,No,acquired
1,CA,37.238916,-121.973718,1/1/2000,5.1260,9.9973,4.0,40100000,enterprise,Yes,No,No,Yes,Yes,Yes,4.7500,Yes,acquired
2,CA,32.901049,-117.192656,3/18/2009,1.0329,1.0329,1.0,-2600000,web,No,No,Yes,No,No,No,4.0000,Yes,acquired
3,CA,37.320309,-122.050040,1/1/2002,3.1315,5.3151,3.0,40000000,software,No,No,No,Yes,Yes,Yes,3.3333,Yes,acquired
4,CA,37.779281,-122.419236,8/1/2010,NaN,1.6685,2.0,1300000,games_video,Yes,Yes,No,No,No,No,1.0000,Yes,closed
5,CA,37.406914,-122.090370,1/1/2002,NaN,4.5452,1.0,7500000,network_hosting,No,No,No,Yes,No,No,3.0000,Yes,closed
6,CA,37.391559,-122.070264,1/1/2005,1.7205,5.2110,3.0,26000000000,software,Yes,No,Yes,Yes,No,No,1.6667,Yes,acquired
7,CA,38.057107,-122.513742,1/1/2004,1.6466,6.7616,3.0,34100000,NaN,No,No,Yes,Yes,No,Yes,3.5000,Yes,acquired
8,MA,42.712207,-73.203599,1/1/2002,3.5863,11.1123,3.0,9650000,NaN,Yes,No,Yes,No,No,Yes,NaN,Yes,acquired
9,CA,37.427235,-122.145783,6/1/2005,1.6712,4.6849,3.0,5750000,NaN,Yes,Yes,Yes,No,No,No,NaN,Yes,acquired

## Data Definition

In [57]:
print("""state_code: kode state startuplatitude: posisi latitude startup
longitude: posisi longitude startup
founded_at: tanggal ketika startup tersebut didirikan
age_first_funding_year: umur startup dalam tahun ketika pertama kali mendapatkan funding
age_last_funding_year: umur startup dalam tahun ketika terakhir kali mendapatkan funding
funding_rounds: banyaknya funding yang diterima oleh startup
funding_total_usd: jumlah funding yang diterima oleh startup dalam USD
category_code: bidang yang menjadi fokus dari startup
has_VC: apakah startup tersebut memiliki venture capital
has_angel: apakah startup tersebut memiliki angel investor
has_seriesA: apakah startup tersebut mendapatkan funding series A
has_seriesB: apakah startup tersebut mendapatkan funding series B
has_seriesC: apakah startup tersebut mendapatkan funding series C
has_seriesD: apakah startup tersebut mendapatkan funding series D
avg_participants: rata-rata banyak pengguna dari startup tersebtu dalam juta
is_top500: apakah startup tersebut pernah masuk ke dalam 500 startup dengan peringkat teatas di Amerika
status (target): status dari startup tersebut sekarang, acquired berarti startup tersebut 
berhasil karena diakuisisi oleh organisasi lain, sebaliknya, closed berarti startup tersebut sudah
berhenti beroperasi dan gagal
""")

state_code: kode state startuplatitude: posisi latitude startup
longitude: posisi longitude startup
founded_at: tanggal ketika startup tersebut didirikan
age_first_funding_year: umur startup dalam tahun ketika pertama kali mendapatkan funding
age_last_funding_year: umur startup dalam tahun ketika terakhir kali mendapatkan funding
funding_rounds: banyaknya funding yang diterima oleh startup
funding_total_usd: jumlah funding yang diterima oleh startup dalam USD
category_code: bidang yang menjadi fokus dari startup
has_VC: apakah startup tersebut memiliki venture capital
has_angel: apakah startup tersebut memiliki angel investor
has_seriesA: apakah startup tersebut mendapatkan funding series A
has_seriesB: apakah startup tersebut mendapatkan funding series B
has_seriesC: apakah startup tersebut mendapatkan funding series C
has_seriesD: apakah startup tersebut mendapatkan funding series D
avg_participants: rata-rata banyak pengguna dari startup tersebtu dalam juta
is_top500: apakah startup tersebut pernah masuk ke dalam 500 startup dengan peringkat teatas di Amerika
status (target): status dari startup tersebut sekarang, acquired berarti startup tersebut
berhasil karena diakuisisi oleh organisasi lain, sebaliknya, closed berarti startup tersebut sudah
berhenti beroperasi dan gagal

In [58]:
startup_df.dtypes

state_code                 object
latitude                  float64
longitude                 float64
founded_at                 object
age_first_funding_year    float64
age_last_funding_year     float64
funding_rounds            float64
funding_total_usd           int64
category_code              object
has_VC                     object
has_angel                  object
has_seriesA                object
has_seriesB                object
has_seriesC                object
has_seriesD                object
avg_participants          float64
is_top500                  object
status                     object
dtype: object

In [59]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state_code              949 non-null    object
 1   latitude                949 non-null    float64
 2   longitude               949 non-null    float64
 3   founded_at              949 non-null    object
 4   age_first_funding_year  885 non-null    float64
 5   age_last_funding_year   894 non-null    float64
 6   funding_rounds          946 non-null    float64
 7   funding_total_usd       949 non-null    int64
 8   category_code           897 non-null    object
 9   has_VC                  949 non-null    object
 10  has_angel               949 non-null    object
 11  has_seriesA             949 non-null    object
 12  has_seriesB             949 non-null    object
 13  has_seriesC             949 non-null    object
 14  has_seriesD             949 non-null    object
 15  avg_participants        901 non-null    float64
 16  is_top500               949 non-null    object
 17  status                  949 non-null    object
dtypes: float64(6), int64(1), object(11)
memory usage: 133.6+ KB

In [60]:
startup_df['founded_at'] = pd.to_datetime(startup_df['founded_at'])

In [61]:
startup_df.dtypes

state_code                        object
latitude                         float64
longitude                        float64
founded_at                datetime64[ns]
age_first_funding_year           float64
age_last_funding_year            float64
funding_rounds                   float64
funding_total_usd                  int64
category_code                     object
has_VC                            object
has_angel                         object
has_seriesA                       object
has_seriesB                       object
has_seriesC                       object
has_seriesD                       object
avg_participants                 float64
is_top500                         object
status                            object
dtype: object

In [62]:
startup_df.describe()

,latitude,longitude,founded_at,age_first_funding_year,age_last_funding_year,funding_rounds,funding_total_usd,avg_participants
count,949.000000,949.000000,949,885.000000,894.000000,946.000000,9.490000e+02,901.000000
mean,38.530398,-103.465916,2005-09-08 08:54:07.207586944,2.322209,3.987377,2.313953,1.544590e+09,2.857545
min,25.752358,-122.756956,1981-01-01 00:00:00,-9.046600,-9.046600,1.000000,-9.500000e+06,1.000000
25%,37.388869,-122.200914,2003-01-01 00:00:00,0.517800,1.690375,1.000000,2.700000e+06,1.500000
50%,37.779281,-118.354605,2006-01-01 00:00:00,1.424700,3.494500,2.000000,1.000000e+07,2.500000
75%,40.730646,-77.212493,2008-06-01 00:00:00,3.602700,5.543150,3.000000,2.490000e+07,4.000000
max,59.335232,18.057121,2013-04-16 00:00:00,34.490400,34.490400,10.000000,6.423100e+11,16.000000
std,3.756150,22.382011,NaN,2.941926,3.313172,1.402098,2.446676e+10,1.875341

In [71]:
startup_df.describe(include='object')

,state_code,category_code,has_VC,has_angel,has_seriesA,has_seriesB,has_seriesC,has_seriesD,is_top500,status
count,923,875,923,923,923,923,923,923,923,923
unique,35,35,2,2,2,2,2,2,2,2
top,CA,web,No,No,Yes,No,No,No,Yes,acquired
freq,488,139,622,688,469,561,708,831,747,597

In [64]:
startup_df.shape

(949, 18)

## Data Preprocessing

* Redundant Data

In [65]:
print(f"Jumlah data redundan {startup_df.duplicated().sum()}")

Jumlah data redundan 26

In [66]:
startup_df.drop_duplicates(inplace=True)

In [67]:
startup_df.shape

(923, 18)

In [68]:
print(f"Jumlah data redundan {startup_df.duplicated().sum()}")

Jumlah data redundan 0

* Missing values

In [69]:
startup_df.isnull().sum()

state_code                 0
latitude                   0
longitude                  0
founded_at                 0
age_first_funding_year    60
age_last_funding_year     55
funding_rounds             3
funding_total_usd          0
category_code             48
has_VC                     0
has_angel                  0
has_seriesA                0
has_seriesB                0
has_seriesC                0
has_seriesD                0
avg_participants          48
is_top500                  0
status                     0
dtype: int64

In [79]:
startup_df.columns[startup_df.isnull().sum() != 0]

Index(['age_first_funding_year', 'age_last_funding_year', 'funding_rounds',
       'category_code', 'avg_participants'],
      dtype='object')